
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHeader", "Default")

<body>
    @Html.Action("PartialNavbar", "Default")

    @RenderBody()

    @Html.Action("PartialFooter", "Default")



    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    @Html.Action("PartialScripts", "Default")

</body>

</html>
